In [1]:
import pandas as pd 
import numpy as np

### Data Paths

In [9]:
grads = "gradrates.xlsx"
acctblty = "Accountability.xlsx"
percapita = "DOR_Income_EQV_Per_Capita.xlsx"
perpupil = "PerPupilExpenditures.xlsx" 
population = "selectedpopulations.xlsx" 
teacher = "teacherdata.xlsx"

### Datasets

In [12]:
df_grads = pd.read_excel(grads, header = 1)
df_acctblty = pd.read_excel(acctblty, header = 1)
df_percapita = pd.read_excel(percapita, header = 0)
df_perpupil = pd.read_excel(perpupil, header = 1)
df_population = pd.read_excel(population, header = 1)
df_teacher = pd.read_excel(teacher, header = 1)

In [14]:
df_grads

,District Name,District Code,# in Cohort,% Graduated,% Still in School,% Non-Grad Completers,% H.S. Equiv.,% Dropped Out,% Permanently Excluded
0,Abby Kelley Foster Charter Public (District),4450000,88,100.0,0.0,0.0,0.0,0.0,0.0
1,Abington,10000,153,88.9,1.3,0.7,0.0,9.2,0.0
2,Academy Of the Pacific Rim Charter Public (Dis...,4120000,54,96.3,1.9,0.0,0.0,1.9,0.0
3,Acton-Boxborough,6000000,466,96.1,3.2,0.2,0.0,0.4,0.0
4,Advanced Math and Science Academy Charter (Dis...,4300000,139,99.3,0.7,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
301,Winchester,3440000,354,94.1,3.4,0.3,0.3,2.0,0.0
302,Winthrop,3460000,136,92.6,1.5,0.0,0.0,5.9,0.0
303,Woburn,3470000,291,89.7,4.1,0.3,0.0,5.8,0.0
304,Worcester,3480000,"1,862",85.2,6.1,1.1,0.1,7.4,0.0
305,State Totals,0,"72,602",89.2,4.5,0.9,0.2,5.3,0.0

In [16]:
df_acctblty

,District Name,District Code,Overall Classification,Reason for Classification,Progress Toward Improvement Targets (%)
0,Abby Kelley Foster Charter Public (District),4450000,Not requiring assistance or intervention,Meeting or exceeding targets,82.0
1,Abington,10000,Not requiring assistance or intervention,Moderate progress toward targets,39.0
2,Academy Of the Pacific Rim Charter Public (Dis...,4120000,Not requiring assistance or intervention,Moderate progress toward targets,48.0
3,Acton-Boxborough,6000000,Not requiring assistance or intervention,Meeting or exceeding targets,85.0
4,Acushnet,30000,Not requiring assistance or intervention,Substantial progress toward targets,58.0
...,...,...,...,...,...
393,Winthrop,3460000,Not requiring assistance or intervention,Substantial progress toward targets,56.0
394,Woburn,3470000,Not requiring assistance or intervention,Moderate progress toward targets,32.0
395,Worcester,3480000,Not requiring assistance or intervention,Moderate progress toward targets,41.0
396,Worthington,3490000,Not requiring assistance or intervention,Limited or no progress toward targets,9.0
397,Wrentham,3500000,Not requiring assistance or intervention,Substantial progress toward targets,63.0

In [18]:
df_percapita

,DOR Code,LEA Code,Municipality,County,Cherry Sheet FY,Population,DOR Income,DOR Income Per Capita,EQV,EQV Per Capita
0,1,1,Abington,PLYMOUTH,2023,17062,645765000,37848,2379458500,139460
1,2,2,Acton,MIDDLESEX,2023,24021,1733168000,72152,4940912200,205691
2,3,3,Acushnet,BRISTOL,2023,10559,376411000,35648,1346443900,127516
3,4,4,Adams,BERKSHIRE,2023,8166,191139000,23407,549332800,67271
4,5,5,Agawam,HAMPDEN,2023,28692,893064000,31126,3286756800,114553
...,...,...,...,...,...,...,...,...,...,...
346,347,347,Woburn,MIDDLESEX,2023,40876,1829233000,44751,9226467200,225718
347,348,348,Worcester,WORCESTER,2023,206518,4638107000,22459,15426121200,74696
348,349,349,Worthington,HAMPSHIRE,2023,1193,34443000,28871,182949300,153352
349,350,350,Wrentham,NORFOLK,2023,12178,738007000,60602,2481220700,203746
350,351,351,Yarmouth,BARNSTABLE,2023,25023,876692000,35035,6880187700,274955

In [20]:
df_perpupil

,District Name,District Code,In-District Expenditures,Total In-district FTEs,In-District Expenditures per Pupil,Total Expenditures,Total Pupil FTEs,Total Expenditures per Pupil
0,Abby Kelley Foster Charter Public (District),4450000,"$24,231,438.78","1,415.8","$17,114.65","$24,231,438.78","1,415.8","$17,114.65"
1,Abington,10000,"$35,603,421.16","2,143.5","$16,609.95","$41,098,932.87","2,297.3","$17,890.10"
2,Academy Of the Pacific Rim Charter Public (Dis...,4120000,"$12,801,946.92",467.4,"$27,392.63","$12,801,946.92",467.4,"$27,392.63"
3,Acton-Boxborough,6000000,"$100,564,755.40","5,181.7","$19,407.68","$109,746,603.20","5,302.1","$20,698.70"
4,Acushnet,30000,"$14,679,700.00",965.8,"$15,199.52","$18,752,410.80","1,254.7","$14,945.73"
...,...,...,...,...,...,...,...,...
393,Woburn,3470000,"$94,093,579.73","4,289.4","$21,936.30","$105,328,116.50","4,516.7","$23,319.71"
394,Worcester,3480000,"$501,140,676.40","24,319.6","$20,606.45","$568,546,854.00","27,234.8","$20,875.75"
395,Worthington,3490000,"$1,904,264.00",75.5,"$25,222.04","$2,822,565.38",142.1,"$19,863.23"
396,Wrentham,3500000,"$17,626,509.66",920.9,"$19,140.53","$19,059,388.49",981.1,"$19,426.55"
397,State Totals,0,"$18,401,964,825.00","865,749.1","$21,255.54","$20,737,958,663.00","947,578.4","$21,885.22"

In [22]:
df_population

,District Name,District Code,High Needs#,High Needs%,English Learners#,English Learners%,First Language Not English#,First Language Not English%,Low Income#,Low Income%,Students with Disabilities#,Students with Disabilities%,Students with Disabilities#.1,Students with Disabilities%.1
0,Abby Kelley Foster Charter Public (District),4450000,"1,005",70.7,256,18.0,967,68.0,837,58.9,,,166,11.7
1,Abington,10000,"1,029",47.3,236,11.0,362,16.9,736,34.4,,,387,17.8
2,Academy Of the Pacific Rim Charter Public (Dis...,4120000,332,71.1,44,9.4,158,33.8,273,58.5,,,115,24.6
3,Acton-Boxborough,6000000,"1,538",29.6,317,6.2,"1,141",22.2,546,10.6,,,803,15.5
4,Acushnet,30000,415,42.7,6,0.6,17,1.8,320,33.2,,,154,15.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,Woburn,3470000,"2,332",53.6,461,10.8,894,20.9,"1,653",38.7,,,896,20.6
395,Worcester,3480000,"20,471",82.9,"7,386",30.4,"14,201",58.4,"17,636",72.5,,,"5,250",21.2
396,Worthington,3490000,41,53.9,0,0.0,0,0.0,30,39.5,,,17,22.4
397,Wrentham,3500000,284,29.8,24,2.5,51,5.4,135,14.2,,,167,17.5
398,State Totals,0,"508,820",55.1,"110,554",12.1,"228,169",25.0,"386,060",42.3,,,"179,095",19.4

In [24]:
df_teacher

,District Name,District Code,Total # of Teachers (FTE),% of Teachers Licensed,Student / Teacher Ratio,Percent of Experienced Teachers,Percent of Teachers without Waiver or Provisional License,Percent Teaching In-Field
0,Abby Kelley Foster Charter Public (District),4450000,119.6,99.2,11.9 to 1,81.5,88.3,90.5
1,Abington,10000,153.8,97.1,13.9 to 1,81.3,89.6,95.7
2,Academy Of the Pacific Rim Charter Public (Dis...,4120000,49.6,65.6,9.4 to 1,37.3,95.6,47.3
3,Acton-Boxborough,6000000,395.4,100.0,13.0 to 1,88.3,97.5,98.8
4,Acushnet,30000,76.0,100.0,12.7 to 1,78.9,92.1,94.7
...,...,...,...,...,...,...,...,...
394,Woburn,3470000,374.6,99.2,11.4 to 1,85.7,96.1,95.7
395,Worcester,3480000,"1,715.9",97.6,14.2 to 1,77.3,89.8,93.0
396,Worthington,3490000,9.2,100.0,8.3 to 1,69.6,87.0,100.0
397,Wrentham,3500000,79.4,100.0,12.0 to 1,85.3,100.0,100.0
398,State Totals,0,"76,977.6",97.1,11.9 to 1,81.3,93.4,92.3

In [30]:
df_population.isnull().sum() 

## the original dataset doesn't have the columns "Students with Disabilities# , Students with Disabilities% " 
## For this reason I checked why there is no data in these columns. It doesn't say null but it doesn't have any info either. 
## After I combined the datasets, I dropped these columns.

District Name                    0
District Code                    0
High Needs#                      0
High Needs%                      0
English Learners#                0
English Learners%                0
First Language Not English#      0
First Language Not English%      0
Low Income#                      0
Low Income%                      0
Students with Disabilities#      0
Students with Disabilities%      0
Students with Disabilities#.1    0
Students with Disabilities%.1    0
dtype: int64

### Merge Datasets (LEFT join)

* I applied LEFT Join
* Keep the df_population datasets as left table since it has the highest number of rows(399)
* Then merged each datasets and dropped the "District Name" other wise it was creating duplicates

In [34]:
# Start with base DataFrame
df = df_population.copy()

# Merge and drop redundant 'District Name' after each merge
df = df.merge(df_acctblty.drop(columns=['District Name']), on='District Code', how='left')
df = df.merge(df_perpupil.drop(columns=['District Name']), on='District Code', how='left')
df = df.merge(df_grads.drop(columns=['District Name']), on='District Code', how='left')
df = df.merge(df_teacher.drop(columns=['District Name']), on='District Code', how='left')

In [42]:
df.shape

(399, 36)

In [44]:
df.columns

Index(['District Name', 'District Code', 'High Needs#', 'High Needs%',
       'English Learners#', 'English Learners%', 'First Language Not English#',
       'First Language Not English%', 'Low Income#', 'Low Income%',
       'Students with Disabilities#', 'Students with Disabilities%',
       'Students with Disabilities#.1', 'Students with Disabilities%.1',
       'Overall Classification', 'Reason for Classification',
       'Progress Toward Improvement Targets (%)', 'In-District Expenditures',
       'Total In-district FTEs', 'In-District Expenditures per Pupil',
       'Total Expenditures', 'Total Pupil FTEs',
       'Total Expenditures per Pupil', '# in Cohort', '% Graduated',
       '% Still in School', '% Non-Grad Completers', '% H.S. Equiv.',
       '% Dropped Out', '% Permanently Excluded', 'Total # of Teachers (FTE)',
       '% of Teachers Licensed', 'Student / Teacher Ratio',
       'Percent of Experienced Teachers',
       'Percent of Teachers without Waiver or Provisional License',
       'Percent Teaching In-Field'],
      dtype='object')

In [46]:
df.isnull().sum()

District Name                                                 0
District Code                                                 0
High Needs#                                                   0
High Needs%                                                   0
English Learners#                                             0
English Learners%                                             0
First Language Not English#                                   0
First Language Not English%                                   0
Low Income#                                                   0
Low Income%                                                   0
Students with Disabilities#                                   0
Students with Disabilities%                                   0
Students with Disabilities#.1                                 0
Students with Disabilities%.1                                 0
Overall Classification                                        1
Reason for Classification                                     1
Progress Toward Improvement Targets (%)                      10
In-District Expenditures                                      2
Total In-district FTEs                                        1
In-District Expenditures per Pupil                            1
Total Expenditures                                            2
Total Pupil FTEs                                              1
Total Expenditures per Pupil                                  1
# in Cohort                                                  93
% Graduated                                                  93
% Still in School                                            93
% Non-Grad Completers                                        93
% H.S. Equiv.                                                93
% Dropped Out                                                93
% Permanently Excluded                                       93
Total # of Teachers (FTE)                                     2
% of Teachers Licensed                                        2
Student / Teacher Ratio                                       1
Percent of Experienced Teachers                               3
Percent of Teachers without Waiver or Provisional License     3
Percent Teaching In-Field                                     4
dtype: int64

In [48]:
df.dtypes

District Name                                                 object
District Code                                                  int64
High Needs#                                                   object
High Needs%                                                  float64
English Learners#                                             object
English Learners%                                            float64
First Language Not English#                                   object
First Language Not English%                                  float64
Low Income#                                                   object
Low Income%                                                  float64
Students with Disabilities#                                   object
Students with Disabilities%                                   object
Students with Disabilities#.1                                 object
Students with Disabilities%.1                                float64
Overall Classification                                        object
Reason for Classification                                     object
Progress Toward Improvement Targets (%)                      float64
In-District Expenditures                                      object
Total In-district FTEs                                        object
In-District Expenditures per Pupil                            object
Total Expenditures                                            object
Total Pupil FTEs                                              object
Total Expenditures per Pupil                                  object
# in Cohort                                                   object
% Graduated                                                  float64
% Still in School                                            float64
% Non-Grad Completers                                        float64
% H.S. Equiv.                                                float64
% Dropped Out                                                float64
% Permanently Excluded                                       float64
Total # of Teachers (FTE)                                     object
% of Teachers Licensed                                       float64
Student / Teacher Ratio                                       object
Percent of Experienced Teachers                              float64
Percent of Teachers without Waiver or Provisional License    float64
Percent Teaching In-Field                                    float64
dtype: object

### Save the Combined Dataset

In [51]:
# save the final dataframe to a new Excel file
output_file = "combined_data.xlsx"
df.to_excel(output_file, index=False)

In [53]:
# print the first few rows of the final dataframe
pd.set_option('display.max_columns', None)
df.head()

,District Name,District Code,High Needs#,High Needs%,English Learners#,English Learners%,First Language Not English#,First Language Not English%,Low Income#,Low Income%,Students with Disabilities#,Students with Disabilities%,Students with Disabilities#.1,Students with Disabilities%.1,Overall Classification,Reason for Classification,Progress Toward Improvement Targets (%),In-District Expenditures,Total In-district FTEs,In-District Expenditures per Pupil,Total Expenditures,Total Pupil FTEs,Total Expenditures per Pupil,# in Cohort,% Graduated,% Still in School,% Non-Grad Completers,% H.S. Equiv.,% Dropped Out,% Permanently Excluded,Total # of Teachers (FTE),% of Teachers Licensed,Student / Teacher Ratio,Percent of Experienced Teachers,Percent of Teachers without Waiver or Provisional License,Percent Teaching In-Field
0,Abby Kelley Foster Charter Public (District),4450000,"1,005",70.7,256,18.0,967,68.0,837,58.9,,,166,11.7,Not requiring assistance or intervention,Meeting or exceeding targets,82.0,"$24,231,438.78","1,415.8","$17,114.65","$24,231,438.78","1,415.8","$17,114.65",88,100.0,0.0,0.0,0.0,0.0,0.0,119.6,99.2,11.9 to 1,81.5,88.3,90.5
1,Abington,10000,"1,029",47.3,236,11.0,362,16.9,736,34.4,,,387,17.8,Not requiring assistance or intervention,Moderate progress toward targets,39.0,"$35,603,421.16","2,143.5","$16,609.95","$41,098,932.87","2,297.3","$17,890.10",153,88.9,1.3,0.7,0.0,9.2,0.0,153.8,97.1,13.9 to 1,81.3,89.6,95.7
2,Academy Of the Pacific Rim Charter Public (Dis...,4120000,332,71.1,44,9.4,158,33.8,273,58.5,,,115,24.6,Not requiring assistance or intervention,Moderate progress toward targets,48.0,"$12,801,946.92",467.4,"$27,392.63","$12,801,946.92",467.4,"$27,392.63",54,96.3,1.9,0.0,0.0,1.9,0.0,49.6,65.6,9.4 to 1,37.3,95.6,47.3
3,Acton-Boxborough,6000000,"1,538",29.6,317,6.2,"1,141",22.2,546,10.6,,,803,15.5,Not requiring assistance or intervention,Meeting or exceeding targets,85.0,"$100,564,755.40","5,181.7","$19,407.68","$109,746,603.20","5,302.1","$20,698.70",466,96.1,3.2,0.2,0.0,0.4,0.0,395.4,100.0,13.0 to 1,88.3,97.5,98.8
4,Acushnet,30000,415,42.7,6,0.6,17,1.8,320,33.2,,,154,15.8,Not requiring assistance or intervention,Substantial progress toward targets,58.0,"$14,679,700.00",965.8,"$15,199.52","$18,752,410.80","1,254.7","$14,945.73",NaN,NaN,NaN,NaN,NaN,NaN,NaN,76.0,100.0,12.7 to 1,78.9,92.1,94.7

In [57]:
df = df.drop(columns=['Students with Disabilities%', 'Students with Disabilities#'])

In [59]:
df.shape

(399, 34)